# Bağımlılıklar
package-lock.json
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js derleme çıktıları
/.next/
/out/

# Üretim yapıları
/build

# Test raporları ve önbellekleri
/coverage
.jest/cache

# Ortam değişkenleri - Asla hassas bilgileri repoya göndermeyin!
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hata ayıklama logları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editör ve işletim sistemi dosyaları
.DS_Store
*.pem
.vscode/
Thumbs.db

# Vercel dağıtım dosyaları
.vercel

# TypeScript derleme bilgileri
*.tsbuildinfo
next-env.d.ts